@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.ctaSection {
  padding: 80px 20px;
  background: #fff;
  display: flex;
  justify-content: center;

  @media (max-width: 1024px) {
    padding: 60px 20px;
    box-sizing: border-box;
  }

  .ctaContainer {
    width: 100%;
    max-width: 1100px;
    background: linear-gradient(
      135deg,
      #ffe3cf 0%,
      #ffffffd4 45%,
      #fe6a038f 100%
    );
    border-radius: 30px;
    padding: 80px 40px;
    text-align: center;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
      padding: 50px 40px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 20%;
      width: 400px;
      height: 100%;
      background: radial-gradient(
        circle,
        rgba(255, 144, 64, 0.26) 0%,
        #0000 70%
      );
      pointer-events: none;
    }

    .ctaContent {
      position: relative;
      z-index: 2;

      h2 {
        color: var(--text-dark);
        font-family: var(--font-heading);
        font-size: 2.5rem;
        margin-bottom: 15px;
        position: relative;
        z-index: 2;

        @media (max-width: 768px) {
          font-size: 1.75rem; // $an-h3
          line-height: 1.3;
        }
      }

      p {
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
        font-size: 1rem; // $an-body
        color: #53535c;
        line-height: 1.6;
      }

      .ctaButtons {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 15px;
        justify-content: center;

        @media (max-width: 600px) {
          flex-direction: column;
        }
      }
    }
  }
}

